@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

/* Fonts and colors from https://www.realtimecolors.com/ */

:root {
    --text: #eae8f1;
    --background: #110e19;
    --primary: #aea4d2;
    --secondary: #443578;
    --accent: #7e69c4;
}

body {
    font-family: 'Poppins';
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
    padding: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins';
    font-weight: 700;
}

html {
    font-size: 100%;
}

h1 {
    font-size: 4.210rem;
}

h2 {
    font-size: 3.158rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small {
    font-size: 0.750rem;
    /* 12px */
}

.jumbotron {
    max-width: 50rem;
}

.jumbotron>p {
    font-size: 2rem;
}


.github-link {
    background-color: var(--primary);
    width: fit-content;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--background);
}
.github-link img{
    height: 2rem;
}